/* NAVBAR */
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: grey;
}
.nav-link:focus,
.nav-link:active {
  text-decoration: underline;
  color: aliceblue;
}

/* HEADER 1 */
.header1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3; /* Opacity untuk membuat background menjadi samar */
}
.texth1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.deskripsi {
  position: relative;
  z-index: 1;
  margin: 60px 150px 0px 150px; /* Margin disesuaikan untuk layar kecil */
}

.btn {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 3px solid black;
}

.btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 3px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #003d47;
}

.btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #232323;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn:hover::before {
  width: 250%;
}



/* HEADER 2 */
.row {
  padding-top: 50px; /* Padding atas disesuaikan untuk layar kecil */
  padding-bottom: 50px; /* Padding bawah disesuaikan untuk layar kecil */
}
.desk {
  text-align: left;
}

.desk2 {
  text-align: center;
  font-style: italic;
  padding-top: 20px; /* Padding atas disesuaikan untuk layar kecil */
  padding-bottom: 20px; /* Padding bawah disesuaikan untuk layar kecil */
}

.desk3 {
  background-color: rgb(237, 237, 237);
}

.deskripsi3 {
  text-align: center;
  margin: 0px 20px 0px 20px; /* Margin disesuaikan untuk layar kecil */
  font-size: 15px;
  padding-top: 30px; /* Padding atas disesuaikan untuk layar kecil */
  padding-bottom: 50px; /* Padding bawah disesuaikan untuk layar kecil */
}

/* FOOTER */
.hac a{
 color: black;
 font-size: large;
}
.contact, .hac {
  display: flex;
  flex-direction: column;
}
.contact a,
.social a {
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
  color: black; /* Warna teks tautan */
}

.contact a:hover {
  color: grey; /* Warna teks tautan saat dihover */
}

.social {
  font-size: 30px;
}
.fa-instagram:hover,
.fa-facebook:hover,
.fa-x-twitter:hover {
  color: #568096; /* Warna saat ikon dihover */
}

@media (max-width: 992px) {
  .header::before {
    background-size: contain; /* Agar gambar menyesuaikan dengan kontainer tanpa dipotong */
  }
  .header1 {
    text-align: center;
  }
  .deskripsi {
    margin: 60px 20px 0px 20px; /* Mengurangi margin untuk layar kecil */
  }
  .header2 {
    margin-top: 50px;
    text-align: center;
  }
  .row {
    padding-top: 20px;
    padding-bottom: 50px; /* Padding bawah disesuaikan untuk layar kecil */
  }
  .logo-h2 {
    width: auto;
    height: 100%;
  }
}
